---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/24.193.83.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Fri, 25 Mar 2016 01:50:28 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '3600'
    body:
      encoding: UTF-8
      string: '{"ip":"24.193.83.1","country_code":"US","country_name":"United States","region_code":"NY","region_name":"New
        York","city":"Rego Park","zip_code":"11374","time_zone":"America/New_York","latitude":40.7235,"longitude":-73.8612,"metro_code":501}

'
  recorded_at: Fri, 25 Mar 2016 19:06:31 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=44.960562,13.123123&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Fri, 25 Mar 2016 19:07:02 GMT
recorded_with: VCR 3.0.1
