---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/195.41.5.202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Fri, 25 Mar 2016 01:50:28 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '3600'
    body:
      encoding: UTF-8
      string: '{"ip":"195.41.5.202","country_code":"DK","country_name":"Denmark","region_code":"","region_name":"","city":"","zip_code":"","time_zone":"Europe/Copenhagen","latitude":55.6761,"longitude":12.5683,"metro_code":0}

'
  recorded_at: Fri, 25 Mar 2016 21:06:09 GMT
recorded_with: VCR 3.0.1
